.spot {
	background-color: white;
	border: 5px solid #efdc05;
	border-radius: 50%;
	/*color: white;*/
	height: 75px;
	padding-top: 20px;
	width: 75px;
}

.board {
	background-color: #efdc05;
	border: 5px solid #efdc05;
	border-radius: 0.25rem;
	display: inline-block;
	width: 535px;
}

.row {
	margin: 0px;
}

.Red {
	background-color: #e53a40;
	/*border: 2px solid white;*/
}

.Blue {
	background-color: #30a9de;
	/*border: 2px solid white;*/
}

.drop {
	height: 24px;
	margin-bottom: 16px;
	width: 75px;
}

.RedDrop {
	color: #e53a40;
}

.BlueDrop {
	color: #30a9de;
}

.disabled .fa {
	color: #999;
	cursor: default;
}

.btn .disabled:hover {
	cursor: pointer;
}

.message {
	width: 535px;
}