
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


// TODO: Hook this stylesheet up with Laravel Mix (https://laravel.com/docs/5.4/mix)
.spot {
	border: 5px solid #efdc05;
	height: 20px;
	width: 20px;
}